.full-form {
  width: 90%;
  max-width: 30rem;
  margin: 6rem auto;
  padding: 2rem;
  /* border: 1px solid red; */
}

.fields {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  /* align-items: stretch; */
}

.fields label {
  flex: 1;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.fields input {
  flex: 4;
  border-radius: 4px;
  padding: 0.25rem;
  border: 1px solid black;
  margin-bottom: 0.5rem;
}

.fields input:focus {
  outline: none;
  border: 1.5px solid skyblue;
}

.btn {
  text-align: center;
}

.btn button {
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 0.38rem 1.5rem;
}

.btn button:hover {
  border: 1px solid skyblue;
  color: skyblue;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.1);
}
